.table tr.active td {
    background-color:#123456 !important;
    color: white;
  }
.container{
    background-color:  #EBF5FB ;
}
.btn1{
    background-color: #F1BFD8;
    color: white;
}
.btn2{
    background-color: #044549;
    color: white;
}